In [78]:
import pandas as pd
import numpy as np

In [79]:
jde_data = pd.read_csv('jde_data-part1_raw.csv', sep=';', parse_dates=True)
jde_data

,ID_ZLECENIA_PALONA,DTZAPIS,ILOSC_PALONA,NUMERZASYPU,IDZLECENIE,NUMERPIECA,Anulowany,Zagubiona,SUMA_ZIELONEJ,QuantityError,...,im3_unit_name,ikWh_consumption,im3_consumption,ikWh_counter1_start,ikWh_counter1_finish,ikWh_multiplier1,ikWh_unit_name1,ikWh_consumption1,ikWh_total_consumption,lTriggerCounter
0,1206810,2024-01-10 09:06:00.880,0,8,138624,4000,0,NaN,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
1,1206809,2024-01-10 08:59:02.527,0,9,138623,3000,0,NaN,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
2,1206808,2024-01-10 08:57:40.677,0,7,138624,4000,0,NaN,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
3,1206807,2024-01-10 08:49:11.593,0,6,138624,4000,0,NaN,"600,1",1,...,m3,4.0,474.0,10921971.0,10922040.0,"0,01",kWh,"0,69","4,69",NaN
4,1206806,2024-01-10 08:48:14.330,0,8,138623,3000,0,NaN,"400,3",1,...,m3,23.0,8.0,NaN,NaN,NaN,NaN,NaN,23,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,1196814,2023-11-20 03:12:48.087,251,12,137655,3000,0,NaN,300,0,...,m3,13.0,9.0,NaN,NaN,NaN,NaN,NaN,13,765.0
9996,1196813,2023-11-20 03:09:00.397,"505,1",7,137656,4000,0,NaN,"600,1",0,...,m3,11.0,1301.0,9740934.0,9741095.0,"0,01",kWh,"1,61","12,61",7144.0
9997,1196812,2023-11-20 03:04:52.260,"251,9",11,137655,3000,0,NaN,"291,1",0,...,m3,12.0,9.0,NaN,NaN,NaN,NaN,NaN,12,763.0
9998,1196811,2023-11-20 03:00:06.253,"505,9",6,137656,4000,0,NaN,600,0,...,m3,11.0,1307.0,9740751.0,9740900.0,"0,01",kWh,"1,49","12,49",7143.0
9999,1196810,2023-11-20 02:51:39.743,"508,1",5,137656,4000,0,NaN,"600,2",0,...,m3,12.0,1292.0,9740431.0,9740653.0,"0,01",kWh,"2,22","14,22",7142.0

In [80]:
columns_to_drop = []

In [81]:
jde_data.head()

,ID_ZLECENIA_PALONA,DTZAPIS,ILOSC_PALONA,NUMERZASYPU,IDZLECENIE,NUMERPIECA,Anulowany,Zagubiona,SUMA_ZIELONEJ,QuantityError,...,im3_unit_name,ikWh_consumption,im3_consumption,ikWh_counter1_start,ikWh_counter1_finish,ikWh_multiplier1,ikWh_unit_name1,ikWh_consumption1,ikWh_total_consumption,lTriggerCounter
0,1206810,2024-01-10 09:06:00.880,0,8,138624,4000,0,NaN,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
1,1206809,2024-01-10 08:59:02.527,0,9,138623,3000,0,NaN,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
2,1206808,2024-01-10 08:57:40.677,0,7,138624,4000,0,NaN,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
3,1206807,2024-01-10 08:49:11.593,0,6,138624,4000,0,NaN,"600,1",1,...,m3,4.0,474.0,10921971.0,10922040.0,"0,01",kWh,"0,69","4,69",NaN
4,1206806,2024-01-10 08:48:14.330,0,8,138623,3000,0,NaN,"400,3",1,...,m3,23.0,8.0,NaN,NaN,NaN,NaN,NaN,23,NaN

In [82]:
jde_data['NUMERZASYPU'].unique()

array([ 8,  9,  7,  6,  5,  4,  3,  2,  1, 11, 10, 17, 16, 15, 14, 13, 12,
       32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 51, 50,
       49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33,
       52, 56, 55, 54, 53], dtype=int64)

In [83]:
jde_data['NUMERPIECA'].unique()

array([4000, 3000, 2000], dtype=int64)

In [84]:
jde_data['Anulowany'].unique()

array([0], dtype=int64)

In [85]:
columns_to_drop.append('Anulowany')

In [86]:
jde_data['Zagubiona'].unique()

array([nan])

In [87]:
columns_to_drop.append('Zagubiona')

In [88]:
jde_data

,ID_ZLECENIA_PALONA,DTZAPIS,ILOSC_PALONA,NUMERZASYPU,IDZLECENIE,NUMERPIECA,Anulowany,Zagubiona,SUMA_ZIELONEJ,QuantityError,...,im3_unit_name,ikWh_consumption,im3_consumption,ikWh_counter1_start,ikWh_counter1_finish,ikWh_multiplier1,ikWh_unit_name1,ikWh_consumption1,ikWh_total_consumption,lTriggerCounter
0,1206810,2024-01-10 09:06:00.880,0,8,138624,4000,0,NaN,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
1,1206809,2024-01-10 08:59:02.527,0,9,138623,3000,0,NaN,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
2,1206808,2024-01-10 08:57:40.677,0,7,138624,4000,0,NaN,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
3,1206807,2024-01-10 08:49:11.593,0,6,138624,4000,0,NaN,"600,1",1,...,m3,4.0,474.0,10921971.0,10922040.0,"0,01",kWh,"0,69","4,69",NaN
4,1206806,2024-01-10 08:48:14.330,0,8,138623,3000,0,NaN,"400,3",1,...,m3,23.0,8.0,NaN,NaN,NaN,NaN,NaN,23,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,1196814,2023-11-20 03:12:48.087,251,12,137655,3000,0,NaN,300,0,...,m3,13.0,9.0,NaN,NaN,NaN,NaN,NaN,13,765.0
9996,1196813,2023-11-20 03:09:00.397,"505,1",7,137656,4000,0,NaN,"600,1",0,...,m3,11.0,1301.0,9740934.0,9741095.0,"0,01",kWh,"1,61","12,61",7144.0
9997,1196812,2023-11-20 03:04:52.260,"251,9",11,137655,3000,0,NaN,"291,1",0,...,m3,12.0,9.0,NaN,NaN,NaN,NaN,NaN,12,763.0
9998,1196811,2023-11-20 03:00:06.253,"505,9",6,137656,4000,0,NaN,600,0,...,m3,11.0,1307.0,9740751.0,9740900.0,"0,01",kWh,"1,49","12,49",7143.0
9999,1196810,2023-11-20 02:51:39.743,"508,1",5,137656,4000,0,NaN,"600,2",0,...,m3,12.0,1292.0,9740431.0,9740653.0,"0,01",kWh,"2,22","14,22",7142.0

In [89]:
jde_data['ILOSC_PALONA'].equals(jde_data['PREV_ILOSC_PALONA'])

False

In [90]:
jde_data['ILOSC_PALONA'].eq(jde_data['PREV_ILOSC_PALONA'])

0       True
1       True
2       True
3       True
4       True
        ...
9995    True
9996    True
9997    True
9998    True
9999    True
Length: 10000, dtype: bool

In [91]:
jde_data[jde_data['ILOSC_PALONA'] != jde_data['PREV_ILOSC_PALONA']]

,ID_ZLECENIA_PALONA,DTZAPIS,ILOSC_PALONA,NUMERZASYPU,IDZLECENIE,NUMERPIECA,Anulowany,Zagubiona,SUMA_ZIELONEJ,QuantityError,...,im3_unit_name,ikWh_consumption,im3_consumption,ikWh_counter1_start,ikWh_counter1_finish,ikWh_multiplier1,ikWh_unit_name1,ikWh_consumption1,ikWh_total_consumption,lTriggerCounter
27,1206783,2024-01-10 05:48:18.430,"342,1",11,138620,3000,0,NaN,"400,4",0,...,m3,15.0,8.0,NaN,NaN,NaN,NaN,NaN,15,285.0
28,1206782,2024-01-10 05:39:07.180,343,10,138620,3000,0,NaN,401,0,...,m3,11.0,8.0,NaN,NaN,NaN,NaN,NaN,11,283.0
29,1206781,2024-01-10 05:31:45.677,343,9,138620,3000,0,NaN,"401,3",0,...,m3,15.0,9.0,NaN,NaN,NaN,NaN,NaN,15,281.0
48,1206762,2024-01-10 03:49:24.690,"347,8",9,138618,3000,0,NaN,"400,9",0,...,m3,19.0,9.0,NaN,NaN,NaN,NaN,NaN,19,260.0
54,1206756,2024-01-10 03:23:50.053,"348,8",6,138618,3000,0,NaN,"402,9",0,...,m3,17.0,8.0,NaN,NaN,NaN,NaN,NaN,17,254.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9628,1197181,2023-11-21 20:05:44.993,338,11,137692,3000,0,NaN,"399,8",0,...,m3,18.0,9.0,NaN,NaN,NaN,NaN,NaN,18,335.0
9702,1197107,2023-11-21 13:35:07.000,305,1,137684,3000,0,NaN,"356,4",0,...,m3,10.0,10.0,NaN,NaN,NaN,NaN,NaN,10,260.0
9802,1197007,2023-11-21 02:28:07.180,300,16,137673,3000,0,NaN,"349,2",0,...,m3,13.0,10.0,NaN,NaN,NaN,NaN,NaN,13,153.0
9886,1196923,2023-11-20 18:08:35.720,299,7,137667,3000,0,NaN,"348,9",0,...,m3,14.0,10.0,NaN,NaN,NaN,NaN,NaN,14,82.0
9943,1196866,2023-11-20 07:55:31.313,501,5,137660,4000,0,NaN,"600,7001",0,...,m3,11.0,1305.0,9749195.0,9749343.0,"0,01",kWh,"1,48","12,48",7173.0

In [92]:
jde_data.head()

,ID_ZLECENIA_PALONA,DTZAPIS,ILOSC_PALONA,NUMERZASYPU,IDZLECENIE,NUMERPIECA,Anulowany,Zagubiona,SUMA_ZIELONEJ,QuantityError,...,im3_unit_name,ikWh_consumption,im3_consumption,ikWh_counter1_start,ikWh_counter1_finish,ikWh_multiplier1,ikWh_unit_name1,ikWh_consumption1,ikWh_total_consumption,lTriggerCounter
0,1206810,2024-01-10 09:06:00.880,0,8,138624,4000,0,NaN,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
1,1206809,2024-01-10 08:59:02.527,0,9,138623,3000,0,NaN,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
2,1206808,2024-01-10 08:57:40.677,0,7,138624,4000,0,NaN,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
3,1206807,2024-01-10 08:49:11.593,0,6,138624,4000,0,NaN,"600,1",1,...,m3,4.0,474.0,10921971.0,10922040.0,"0,01",kWh,"0,69","4,69",NaN
4,1206806,2024-01-10 08:48:14.330,0,8,138623,3000,0,NaN,"400,3",1,...,m3,23.0,8.0,NaN,NaN,NaN,NaN,NaN,23,NaN

In [93]:
jde_data['LockedByEditor'].unique()

array([nan,  0.])

In [94]:
jde_data[jde_data['LockedByEditor'] == 0.0]

,ID_ZLECENIA_PALONA,DTZAPIS,ILOSC_PALONA,NUMERZASYPU,IDZLECENIE,NUMERPIECA,Anulowany,Zagubiona,SUMA_ZIELONEJ,QuantityError,...,im3_unit_name,ikWh_consumption,im3_consumption,ikWh_counter1_start,ikWh_counter1_finish,ikWh_multiplier1,ikWh_unit_name1,ikWh_consumption1,ikWh_total_consumption,lTriggerCounter
7612,1199197,2023-11-30 06:28:11.693,"306,8",19,137892,3000,0,NaN,"352,6",0,...,m3,13.0,8.0,NaN,NaN,NaN,NaN,NaN,13,NaN

In [95]:
columns_to_drop.append('LockedByEditor')

In [96]:
jde_data['QuantityError'].unique()

array([1, 0], dtype=int64)

In [97]:
jde_data[jde_data['QuantityError'] == 1]

,ID_ZLECENIA_PALONA,DTZAPIS,ILOSC_PALONA,NUMERZASYPU,IDZLECENIE,NUMERPIECA,Anulowany,Zagubiona,SUMA_ZIELONEJ,QuantityError,...,im3_unit_name,ikWh_consumption,im3_consumption,ikWh_counter1_start,ikWh_counter1_finish,ikWh_multiplier1,ikWh_unit_name1,ikWh_consumption1,ikWh_total_consumption,lTriggerCounter
0,1206810,2024-01-10 09:06:00.880,0,8,138624,4000,0,NaN,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
1,1206809,2024-01-10 08:59:02.527,0,9,138623,3000,0,NaN,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
2,1206808,2024-01-10 08:57:40.677,0,7,138624,4000,0,NaN,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
3,1206807,2024-01-10 08:49:11.593,0,6,138624,4000,0,NaN,"600,1",1,...,m3,4.0,474.0,10921971.0,10922040.0,"0,01",kWh,"0,69","4,69",NaN
4,1206806,2024-01-10 08:48:14.330,0,8,138623,3000,0,NaN,"400,3",1,...,m3,23.0,8.0,NaN,NaN,NaN,NaN,NaN,23,NaN
6,1206804,2024-01-10 08:35:09.410,0,5,138624,4000,0,NaN,"600,2",1,...,m3,11.0,1306.0,10921766.0,10921965.0,"0,01",kWh,"1,99","12,99",NaN

In [98]:
columns_to_drop.append('QuantityError')

In [99]:
jde_data['Posted'].unique()

array([0, 1], dtype=int64)

In [100]:
jde_data[jde_data['Posted'] == 0]

,ID_ZLECENIA_PALONA,DTZAPIS,ILOSC_PALONA,NUMERZASYPU,IDZLECENIE,NUMERPIECA,Anulowany,Zagubiona,SUMA_ZIELONEJ,QuantityError,...,im3_unit_name,ikWh_consumption,im3_consumption,ikWh_counter1_start,ikWh_counter1_finish,ikWh_multiplier1,ikWh_unit_name1,ikWh_consumption1,ikWh_total_consumption,lTriggerCounter
0,1206810,2024-01-10 09:06:00.880,0,8,138624,4000,0,NaN,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
1,1206809,2024-01-10 08:59:02.527,0,9,138623,3000,0,NaN,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
2,1206808,2024-01-10 08:57:40.677,0,7,138624,4000,0,NaN,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
3,1206807,2024-01-10 08:49:11.593,0,6,138624,4000,0,NaN,"600,1",1,...,m3,4.0,474.0,10921971.0,10922040.0,"0,01",kWh,"0,69","4,69",NaN
4,1206806,2024-01-10 08:48:14.330,0,8,138623,3000,0,NaN,"400,3",1,...,m3,23.0,8.0,NaN,NaN,NaN,NaN,NaN,23,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9769,1197040,2023-11-21 05:11:49.350,"511,5",4,137677,4000,0,NaN,"600,4",0,...,m3,10.0,1311.0,9773132.0,9773362.0,"0,01",kWh,"2,3","12,3",7262.0
9771,1197038,2023-11-21 05:05:09.273,"511,9",3,137677,4000,0,NaN,"600,3",0,...,m3,9.0,1322.0,9772900.0,9773073.0,"0,01",kWh,"1,73","10,73",7260.0
9802,1197007,2023-11-21 02:28:07.180,300,16,137673,3000,0,NaN,"349,2",0,...,m3,13.0,10.0,NaN,NaN,NaN,NaN,NaN,13,153.0
9886,1196923,2023-11-20 18:08:35.720,299,7,137667,3000,0,NaN,"348,9",0,...,m3,14.0,10.0,NaN,NaN,NaN,NaN,NaN,14,82.0
9943,1196866,2023-11-20 07:55:31.313,501,5,137660,4000,0,NaN,"600,7001",0,...,m3,11.0,1305.0,9749195.0,9749343.0,"0,01",kWh,"1,48","12,48",7173.0

In [101]:
columns_to_drop.append('Posted')

In [102]:
columns_to_drop.append('dtLastEdited')

In [103]:
jde_data.head()

,ID_ZLECENIA_PALONA,DTZAPIS,ILOSC_PALONA,NUMERZASYPU,IDZLECENIE,NUMERPIECA,Anulowany,Zagubiona,SUMA_ZIELONEJ,QuantityError,...,im3_unit_name,ikWh_consumption,im3_consumption,ikWh_counter1_start,ikWh_counter1_finish,ikWh_multiplier1,ikWh_unit_name1,ikWh_consumption1,ikWh_total_consumption,lTriggerCounter
0,1206810,2024-01-10 09:06:00.880,0,8,138624,4000,0,NaN,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
1,1206809,2024-01-10 08:59:02.527,0,9,138623,3000,0,NaN,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
2,1206808,2024-01-10 08:57:40.677,0,7,138624,4000,0,NaN,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
3,1206807,2024-01-10 08:49:11.593,0,6,138624,4000,0,NaN,"600,1",1,...,m3,4.0,474.0,10921971.0,10922040.0,"0,01",kWh,"0,69","4,69",NaN
4,1206806,2024-01-10 08:48:14.330,0,8,138623,3000,0,NaN,"400,3",1,...,m3,23.0,8.0,NaN,NaN,NaN,NaN,NaN,23,NaN

In [104]:
jde_data['ExternalErrorCleaner'].unique()

array([nan,  1.])

In [105]:
jde_data[jde_data['ExternalErrorCleaner'] == 1]

,ID_ZLECENIA_PALONA,DTZAPIS,ILOSC_PALONA,NUMERZASYPU,IDZLECENIE,NUMERPIECA,Anulowany,Zagubiona,SUMA_ZIELONEJ,QuantityError,...,im3_unit_name,ikWh_consumption,im3_consumption,ikWh_counter1_start,ikWh_counter1_finish,ikWh_multiplier1,ikWh_unit_name1,ikWh_consumption1,ikWh_total_consumption,lTriggerCounter
47,1206763,2024-01-10 03:51:05.300,"519,3",10,138619,4000,0,NaN,"599,7",0,...,m3,10.0,1247.0,10915660.0,10915792.0,"0,01",kWh,"1,32","11,32",NaN
80,1206730,2024-01-10 01:00:30.273,345,32,138612,3000,0,NaN,"400,1",0,...,m3,16.0,8.0,NaN,NaN,NaN,NaN,NaN,16,222.0
94,1206716,2024-01-09 23:55:07.663,"504,6",5,138615,4000,0,NaN,"598,6",0,...,m3,12.0,1237.0,10911737.0,10912046.0,"0,01",kWh,"3,09","15,09",2011.0
112,1206698,2024-01-09 22:37:56.997,346,13,138612,3000,0,NaN,"400,2",0,...,m3,14.0,8.0,NaN,NaN,NaN,NaN,NaN,14,184.0
120,1206690,2024-01-09 22:03:15.270,348,9,138612,3000,0,NaN,"400,8",0,...,m3,17.0,9.0,NaN,NaN,NaN,NaN,NaN,17,176.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9888,1196921,2023-11-20 18:01:44.660,310,6,137667,3000,0,NaN,"348,9",0,...,m3,12.0,9.0,NaN,NaN,NaN,NaN,NaN,12,80.0
9890,1196919,2023-11-20 17:51:45.303,310,5,137667,3000,0,NaN,"349,9",0,...,m3,12.0,9.0,NaN,NaN,NaN,NaN,NaN,12,78.0
9917,1196892,2023-11-20 11:20:35.740,"427,3",3,137662,4000,0,NaN,"498,2",0,...,m3,10.0,1133.0,9752768.0,9752894.0,"0,01",kWh,"1,26","11,26",7183.0
9977,1196832,2023-11-20 04:42:50.003,343,4,137658,3000,0,NaN,"400,2",0,...,m3,16.0,10.0,NaN,NaN,NaN,NaN,NaN,16,785.0
9981,1196828,2023-11-20 04:25:17.787,"342,7",2,137658,3000,0,NaN,"399,6",0,...,m3,15.0,11.0,NaN,NaN,NaN,NaN,NaN,15,781.0

In [106]:
columns_to_drop.append('ExternalErrorCleaner')

In [107]:
jde_data.head()

,ID_ZLECENIA_PALONA,DTZAPIS,ILOSC_PALONA,NUMERZASYPU,IDZLECENIE,NUMERPIECA,Anulowany,Zagubiona,SUMA_ZIELONEJ,QuantityError,...,im3_unit_name,ikWh_consumption,im3_consumption,ikWh_counter1_start,ikWh_counter1_finish,ikWh_multiplier1,ikWh_unit_name1,ikWh_consumption1,ikWh_total_consumption,lTriggerCounter
0,1206810,2024-01-10 09:06:00.880,0,8,138624,4000,0,NaN,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
1,1206809,2024-01-10 08:59:02.527,0,9,138623,3000,0,NaN,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
2,1206808,2024-01-10 08:57:40.677,0,7,138624,4000,0,NaN,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
3,1206807,2024-01-10 08:49:11.593,0,6,138624,4000,0,NaN,"600,1",1,...,m3,4.0,474.0,10921971.0,10922040.0,"0,01",kWh,"0,69","4,69",NaN
4,1206806,2024-01-10 08:48:14.330,0,8,138623,3000,0,NaN,"400,3",1,...,m3,23.0,8.0,NaN,NaN,NaN,NaN,NaN,23,NaN

In [108]:
jde_data['READJUSTED_BY'].unique()

array([nan, 24., 32., 40.,  6., 18., 10.])

In [109]:
columns_to_drop.append('READJUSTED_BY')

In [110]:
jde_data.head()

,ID_ZLECENIA_PALONA,DTZAPIS,ILOSC_PALONA,NUMERZASYPU,IDZLECENIE,NUMERPIECA,Anulowany,Zagubiona,SUMA_ZIELONEJ,QuantityError,...,im3_unit_name,ikWh_consumption,im3_consumption,ikWh_counter1_start,ikWh_counter1_finish,ikWh_multiplier1,ikWh_unit_name1,ikWh_consumption1,ikWh_total_consumption,lTriggerCounter
0,1206810,2024-01-10 09:06:00.880,0,8,138624,4000,0,NaN,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
1,1206809,2024-01-10 08:59:02.527,0,9,138623,3000,0,NaN,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
2,1206808,2024-01-10 08:57:40.677,0,7,138624,4000,0,NaN,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
3,1206807,2024-01-10 08:49:11.593,0,6,138624,4000,0,NaN,"600,1",1,...,m3,4.0,474.0,10921971.0,10922040.0,"0,01",kWh,"0,69","4,69",NaN
4,1206806,2024-01-10 08:48:14.330,0,8,138623,3000,0,NaN,"400,3",1,...,m3,23.0,8.0,NaN,NaN,NaN,NaN,NaN,23,NaN

In [111]:
jde_data['TruckNo1'].unique()

array([ nan,   3., 204.,   5.,   7.,   1.,   9.,   8.,   6.,   4.,  10.,
        99., 202., 205.,   2.,  55.,  44.,  88.,  77.,  22., 200.])

In [112]:
columns_to_drop.append('TruckNo1')

In [113]:
jde_data['TruckNo2'].unique()

array([nan])

In [114]:
columns_to_drop.append('TruckNo2')

In [115]:
jde_data.head()

,ID_ZLECENIA_PALONA,DTZAPIS,ILOSC_PALONA,NUMERZASYPU,IDZLECENIE,NUMERPIECA,Anulowany,Zagubiona,SUMA_ZIELONEJ,QuantityError,...,im3_unit_name,ikWh_consumption,im3_consumption,ikWh_counter1_start,ikWh_counter1_finish,ikWh_multiplier1,ikWh_unit_name1,ikWh_consumption1,ikWh_total_consumption,lTriggerCounter
0,1206810,2024-01-10 09:06:00.880,0,8,138624,4000,0,NaN,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
1,1206809,2024-01-10 08:59:02.527,0,9,138623,3000,0,NaN,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
2,1206808,2024-01-10 08:57:40.677,0,7,138624,4000,0,NaN,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
3,1206807,2024-01-10 08:49:11.593,0,6,138624,4000,0,NaN,"600,1",1,...,m3,4.0,474.0,10921971.0,10922040.0,"0,01",kWh,"0,69","4,69",NaN
4,1206806,2024-01-10 08:48:14.330,0,8,138623,3000,0,NaN,"400,3",1,...,m3,23.0,8.0,NaN,NaN,NaN,NaN,NaN,23,NaN

In [116]:
jde_data['lTriggerCounter'].unique()

array([  nan,  313.,  311., ..., 7144., 7143., 7142.])

In [117]:
columns_to_drop.append('lTriggerCounter')

In [118]:
jde_data['im3_multiplier'].unique()

array([nan,  1.])

In [119]:
columns_to_drop.append('im3_multiplier')

In [120]:
jde_data['ikWh_multiplier'].unique()

array([nan,  1.])

In [121]:
columns_to_drop.append('ikWh_multiplier')

In [122]:
jde_data['ikWh_unit_name'].unique()

array([nan, 'kWh'], dtype=object)

In [123]:
columns_to_drop.append('ikWh_unit_name')

In [124]:
jde_data['im3_unit_name'].unique()

array([nan, 'm3'], dtype=object)

In [125]:
columns_to_drop.append('im3_unit_name')

In [126]:
jde_data['ikWh_multiplier1'].unique()

array([nan, '0,01'], dtype=object)

In [127]:
columns_to_drop.append('ikWh_multiplier1')  # wrong value in some series

In [128]:
jde_data['ikWh_unit_name1'].unique()

array([nan, 'kWh'], dtype=object)

In [129]:
columns_to_drop.append('ikWh_unit_name1')

In [130]:
jde_data['ikWh_total_consumption'].unique()

array(['0', '4,69', '23', ..., '8,47', '5,72', '9,88'], dtype=object)

In [131]:
jde_data['ikWh_total_consumption'] = jde_data['ikWh_total_consumption'].str.replace(',', '.').astype(float)

In [132]:
jde_data[jde_data['ikWh_total_consumption'] == 0]

,ID_ZLECENIA_PALONA,DTZAPIS,ILOSC_PALONA,NUMERZASYPU,IDZLECENIE,NUMERPIECA,Anulowany,Zagubiona,SUMA_ZIELONEJ,QuantityError,...,im3_unit_name,ikWh_consumption,im3_consumption,ikWh_counter1_start,ikWh_counter1_finish,ikWh_multiplier1,ikWh_unit_name1,ikWh_consumption1,ikWh_total_consumption,lTriggerCounter
0,1206810,2024-01-10 09:06:00.880,0,8,138624,4000,0,NaN,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
1,1206809,2024-01-10 08:59:02.527,0,9,138623,3000,0,NaN,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
2,1206808,2024-01-10 08:57:40.677,0,7,138624,4000,0,NaN,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
469,1206341,2024-01-08 08:19:50.917,0,5,138574,3000,0,NaN,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
1265,1205545,2024-01-03 16:37:02.000,0,1,138492,2000,0,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
2161,1204648,2023-12-27 07:15:29.790,345,4,138408,3000,0,NaN,"400,3",0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
2296,1204513,2023-12-22 12:02:09.280,343,3,138395,3000,0,NaN,"400,3",0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
2533,1204276,2023-12-21 08:32:02.000,0,1,138371,4000,0,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
3531,1203277,2023-12-17 10:32:50.000,0,1,138267,4000,0,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
3902,1202907,2023-12-15 20:27:59.223,345,23,138229,3000,0,NaN,"401,4",0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
8361,1198448,2023-11-26 10:47:31.000,0,1,137820,4000,0,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
8362,1198447,2023-11-26 10:47:17.000,0,1,137819,4000,0,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN

In [133]:
jde_data.head()

,ID_ZLECENIA_PALONA,DTZAPIS,ILOSC_PALONA,NUMERZASYPU,IDZLECENIE,NUMERPIECA,Anulowany,Zagubiona,SUMA_ZIELONEJ,QuantityError,...,im3_unit_name,ikWh_consumption,im3_consumption,ikWh_counter1_start,ikWh_counter1_finish,ikWh_multiplier1,ikWh_unit_name1,ikWh_consumption1,ikWh_total_consumption,lTriggerCounter
0,1206810,2024-01-10 09:06:00.880,0,8,138624,4000,0,NaN,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,NaN
1,1206809,2024-01-10 08:59:02.527,0,9,138623,3000,0,NaN,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,NaN
2,1206808,2024-01-10 08:57:40.677,0,7,138624,4000,0,NaN,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,NaN
3,1206807,2024-01-10 08:49:11.593,0,6,138624,4000,0,NaN,"600,1",1,...,m3,4.0,474.0,10921971.0,10922040.0,"0,01",kWh,"0,69",4.69,NaN
4,1206806,2024-01-10 08:48:14.330,0,8,138623,3000,0,NaN,"400,3",1,...,m3,23.0,8.0,NaN,NaN,NaN,NaN,NaN,23.00,NaN

In [134]:
jde_data['ikWh_consumption1'] = jde_data['ikWh_consumption1'].str.replace(',', '.').astype(float)

In [135]:
jde_data['DTZAPIS'] = pd.to_datetime(jde_data['DTZAPIS'])

In [136]:
jde_data['ILOSC_PALONA'] = jde_data['ILOSC_PALONA'].str.replace(',', '.').astype(float)

In [137]:
jde_data['SUMA_ZIELONEJ'] = jde_data['SUMA_ZIELONEJ'].str.replace(',', '.').astype(float)

In [138]:
jde_data['PREV_ILOSC_PALONA'] = jde_data['PREV_ILOSC_PALONA'].str.replace(',', '.').astype(float)

In [139]:
jde_data['dtRoastingStart'] = pd.to_datetime(jde_data['dtRoastingStart'])

In [140]:
jde_data['dtRoastingFinish'] = pd.to_datetime(jde_data['dtRoastingFinish'])

In [141]:
jde_data[jde_data['SUMA_ZIELONEJ'].isna()]

,ID_ZLECENIA_PALONA,DTZAPIS,ILOSC_PALONA,NUMERZASYPU,IDZLECENIE,NUMERPIECA,Anulowany,Zagubiona,SUMA_ZIELONEJ,QuantityError,...,im3_unit_name,ikWh_consumption,im3_consumption,ikWh_counter1_start,ikWh_counter1_finish,ikWh_multiplier1,ikWh_unit_name1,ikWh_consumption1,ikWh_total_consumption,lTriggerCounter
1265,1205545,2024-01-03 16:37:02,0.0,1,138492,2000,0,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
2533,1204276,2023-12-21 08:32:02,0.0,1,138371,4000,0,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
3531,1203277,2023-12-17 10:32:50,0.0,1,138267,4000,0,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
8361,1198448,2023-11-26 10:47:31,0.0,1,137820,4000,0,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
8362,1198447,2023-11-26 10:47:17,0.0,1,137819,4000,0,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN

In [142]:
jde_data[jde_data['dtRoastingStart'].isna()]

,ID_ZLECENIA_PALONA,DTZAPIS,ILOSC_PALONA,NUMERZASYPU,IDZLECENIE,NUMERPIECA,Anulowany,Zagubiona,SUMA_ZIELONEJ,QuantityError,...,im3_unit_name,ikWh_consumption,im3_consumption,ikWh_counter1_start,ikWh_counter1_finish,ikWh_multiplier1,ikWh_unit_name1,ikWh_consumption1,ikWh_total_consumption,lTriggerCounter
0,1206810,2024-01-10 09:06:00.880,0.0,8,138624,4000,0,NaN,0.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
1,1206809,2024-01-10 08:59:02.527,0.0,9,138623,3000,0,NaN,0.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
2,1206808,2024-01-10 08:57:40.677,0.0,7,138624,4000,0,NaN,0.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
469,1206341,2024-01-08 08:19:50.917,0.0,5,138574,3000,0,NaN,0.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
1265,1205545,2024-01-03 16:37:02.000,0.0,1,138492,2000,0,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
2161,1204648,2023-12-27 07:15:29.790,345.0,4,138408,3000,0,NaN,400.3,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
2296,1204513,2023-12-22 12:02:09.280,343.0,3,138395,3000,0,NaN,400.3,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
2533,1204276,2023-12-21 08:32:02.000,0.0,1,138371,4000,0,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
3531,1203277,2023-12-17 10:32:50.000,0.0,1,138267,4000,0,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
3902,1202907,2023-12-15 20:27:59.223,345.0,23,138229,3000,0,NaN,401.4,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
8361,1198448,2023-11-26 10:47:31.000,0.0,1,137820,4000,0,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
8362,1198447,2023-11-26 10:47:17.000,0.0,1,137819,4000,0,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN

In [143]:
jde_data

,ID_ZLECENIA_PALONA,DTZAPIS,ILOSC_PALONA,NUMERZASYPU,IDZLECENIE,NUMERPIECA,Anulowany,Zagubiona,SUMA_ZIELONEJ,QuantityError,...,im3_unit_name,ikWh_consumption,im3_consumption,ikWh_counter1_start,ikWh_counter1_finish,ikWh_multiplier1,ikWh_unit_name1,ikWh_consumption1,ikWh_total_consumption,lTriggerCounter
0,1206810,2024-01-10 09:06:00.880,0.0,8,138624,4000,0,NaN,0.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,NaN
1,1206809,2024-01-10 08:59:02.527,0.0,9,138623,3000,0,NaN,0.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,NaN
2,1206808,2024-01-10 08:57:40.677,0.0,7,138624,4000,0,NaN,0.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,NaN
3,1206807,2024-01-10 08:49:11.593,0.0,6,138624,4000,0,NaN,600.1,1,...,m3,4.0,474.0,10921971.0,10922040.0,"0,01",kWh,0.69,4.69,NaN
4,1206806,2024-01-10 08:48:14.330,0.0,8,138623,3000,0,NaN,400.3,1,...,m3,23.0,8.0,NaN,NaN,NaN,NaN,NaN,23.00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,1196814,2023-11-20 03:12:48.087,251.0,12,137655,3000,0,NaN,300.0,0,...,m3,13.0,9.0,NaN,NaN,NaN,NaN,NaN,13.00,765.0
9996,1196813,2023-11-20 03:09:00.397,505.1,7,137656,4000,0,NaN,600.1,0,...,m3,11.0,1301.0,9740934.0,9741095.0,"0,01",kWh,1.61,12.61,7144.0
9997,1196812,2023-11-20 03:04:52.260,251.9,11,137655,3000,0,NaN,291.1,0,...,m3,12.0,9.0,NaN,NaN,NaN,NaN,NaN,12.00,763.0
9998,1196811,2023-11-20 03:00:06.253,505.9,6,137656,4000,0,NaN,600.0,0,...,m3,11.0,1307.0,9740751.0,9740900.0,"0,01",kWh,1.49,12.49,7143.0
9999,1196810,2023-11-20 02:51:39.743,508.1,5,137656,4000,0,NaN,600.2,0,...,m3,12.0,1292.0,9740431.0,9740653.0,"0,01",kWh,2.22,14.22,7142.0

In [144]:
jde_data = jde_data.dropna(subset=['SUMA_ZIELONEJ'])

In [145]:
jde_data[jde_data['dtRoastingStart'].isna()]

,ID_ZLECENIA_PALONA,DTZAPIS,ILOSC_PALONA,NUMERZASYPU,IDZLECENIE,NUMERPIECA,Anulowany,Zagubiona,SUMA_ZIELONEJ,QuantityError,...,im3_unit_name,ikWh_consumption,im3_consumption,ikWh_counter1_start,ikWh_counter1_finish,ikWh_multiplier1,ikWh_unit_name1,ikWh_consumption1,ikWh_total_consumption,lTriggerCounter
0,1206810,2024-01-10 09:06:00.880,0.0,8,138624,4000,0,NaN,0.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
1,1206809,2024-01-10 08:59:02.527,0.0,9,138623,3000,0,NaN,0.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
2,1206808,2024-01-10 08:57:40.677,0.0,7,138624,4000,0,NaN,0.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
469,1206341,2024-01-08 08:19:50.917,0.0,5,138574,3000,0,NaN,0.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
2161,1204648,2023-12-27 07:15:29.790,345.0,4,138408,3000,0,NaN,400.3,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
2296,1204513,2023-12-22 12:02:09.280,343.0,3,138395,3000,0,NaN,400.3,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
3902,1202907,2023-12-15 20:27:59.223,345.0,23,138229,3000,0,NaN,401.4,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN

In [146]:
# jde_data[jde_data['ikWh_multiplier1'] == '0,01']

In [147]:
jde_data.loc[((jde_data['ikWh_counter1_finish'] - jde_data['ikWh_counter1_start']) * .01 != jde_data['ikWh_consumption1'])]

,ID_ZLECENIA_PALONA,DTZAPIS,ILOSC_PALONA,NUMERZASYPU,IDZLECENIE,NUMERPIECA,Anulowany,Zagubiona,SUMA_ZIELONEJ,QuantityError,...,im3_unit_name,ikWh_consumption,im3_consumption,ikWh_counter1_start,ikWh_counter1_finish,ikWh_multiplier1,ikWh_unit_name1,ikWh_consumption1,ikWh_total_consumption,lTriggerCounter
0,1206810,2024-01-10 09:06:00.880,0.0,8,138624,4000,0,NaN,0.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,NaN
1,1206809,2024-01-10 08:59:02.527,0.0,9,138623,3000,0,NaN,0.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,NaN
2,1206808,2024-01-10 08:57:40.677,0.0,7,138624,4000,0,NaN,0.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,NaN
3,1206807,2024-01-10 08:49:11.593,0.0,6,138624,4000,0,NaN,600.1,1,...,m3,4.0,474.0,10921971.0,10922040.0,"0,01",kWh,0.69,4.69,NaN
4,1206806,2024-01-10 08:48:14.330,0.0,8,138623,3000,0,NaN,400.3,1,...,m3,23.0,8.0,NaN,NaN,NaN,NaN,NaN,23.00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9992,1196817,2023-11-20 03:30:34.757,250.9,14,137655,3000,0,NaN,300.0,0,...,m3,12.0,9.0,NaN,NaN,NaN,NaN,NaN,12.00,769.0
9993,1196816,2023-11-20 03:19:30.917,251.4,13,137655,3000,0,NaN,300.0,0,...,m3,12.0,9.0,NaN,NaN,NaN,NaN,NaN,12.00,767.0
9994,1196815,2023-11-20 03:17:40.000,509.7,1,137657,4000,0,NaN,600.5,0,...,m3,10.0,1353.0,9741267.0,9741407.0,"0,01",kWh,1.40,11.40,7145.0
9995,1196814,2023-11-20 03:12:48.087,251.0,12,137655,3000,0,NaN,300.0,0,...,m3,13.0,9.0,NaN,NaN,NaN,NaN,NaN,13.00,765.0
9997,1196812,2023-11-20 03:04:52.260,251.9,11,137655,3000,0,NaN,291.1,0,...,m3,12.0,9.0,NaN,NaN,NaN,NaN,NaN,12.00,763.0

In [148]:
jde_data.loc[jde_data['ikWh_counter_start'].isna(), 'ikWh_counter1_start'] = 0
jde_data.loc[jde_data['ikWh_counter1_finish'].isna(), 'ikWh_counter1_finish'] = 0
jde_data.loc[jde_data['ikWh_consumption1'].isna(), 'ikWh_consumption1'] = 0

In [149]:
jde_data

,ID_ZLECENIA_PALONA,DTZAPIS,ILOSC_PALONA,NUMERZASYPU,IDZLECENIE,NUMERPIECA,Anulowany,Zagubiona,SUMA_ZIELONEJ,QuantityError,...,im3_unit_name,ikWh_consumption,im3_consumption,ikWh_counter1_start,ikWh_counter1_finish,ikWh_multiplier1,ikWh_unit_name1,ikWh_consumption1,ikWh_total_consumption,lTriggerCounter
0,1206810,2024-01-10 09:06:00.880,0.0,8,138624,4000,0,NaN,0.0,1,...,NaN,NaN,NaN,0.0,0.0,NaN,NaN,0.00,0.00,NaN
1,1206809,2024-01-10 08:59:02.527,0.0,9,138623,3000,0,NaN,0.0,1,...,NaN,NaN,NaN,0.0,0.0,NaN,NaN,0.00,0.00,NaN
2,1206808,2024-01-10 08:57:40.677,0.0,7,138624,4000,0,NaN,0.0,1,...,NaN,NaN,NaN,0.0,0.0,NaN,NaN,0.00,0.00,NaN
3,1206807,2024-01-10 08:49:11.593,0.0,6,138624,4000,0,NaN,600.1,1,...,m3,4.0,474.0,10921971.0,10922040.0,"0,01",kWh,0.69,4.69,NaN
4,1206806,2024-01-10 08:48:14.330,0.0,8,138623,3000,0,NaN,400.3,1,...,m3,23.0,8.0,NaN,0.0,NaN,NaN,0.00,23.00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,1196814,2023-11-20 03:12:48.087,251.0,12,137655,3000,0,NaN,300.0,0,...,m3,13.0,9.0,NaN,0.0,NaN,NaN,0.00,13.00,765.0
9996,1196813,2023-11-20 03:09:00.397,505.1,7,137656,4000,0,NaN,600.1,0,...,m3,11.0,1301.0,9740934.0,9741095.0,"0,01",kWh,1.61,12.61,7144.0
9997,1196812,2023-11-20 03:04:52.260,251.9,11,137655,3000,0,NaN,291.1,0,...,m3,12.0,9.0,NaN,0.0,NaN,NaN,0.00,12.00,763.0
9998,1196811,2023-11-20 03:00:06.253,505.9,6,137656,4000,0,NaN,600.0,0,...,m3,11.0,1307.0,9740751.0,9740900.0,"0,01",kWh,1.49,12.49,7143.0
9999,1196810,2023-11-20 02:51:39.743,508.1,5,137656,4000,0,NaN,600.2,0,...,m3,12.0,1292.0,9740431.0,9740653.0,"0,01",kWh,2.22,14.22,7142.0

In [150]:
# jde_data['Dlugosc procesu prazenia'] = 0

In [151]:
jde_data.loc[:, 'Dlugosc procesu prazenia'] = jde_data['dtRoastingFinish'] - jde_data['dtRoastingStart']

C:\Users\modeb\AppData\Local\Temp\ipykernel_12736\2059104406.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  jde_data.loc[:, 'Dlugosc procesu prazenia'] = jde_data['dtRoastingFinish'] - jde_data['dtRoastingStart']

In [157]:
columns_to_drop.append('dtRoastingStart')
columns_to_drop.append('dtRoastingFinish')
columns_to_drop.append('ikWh_counter_start')
columns_to_drop.append('ikWh_counter_finish')
columns_to_drop.append('im3_counter_start')
columns_to_drop.append('im3_counter_finish')
columns_to_drop.append('ikWh_consumption')
columns_to_drop.append('ikWh_counter1_start')
columns_to_drop.append('ikWh_counter1_finish')
columns_to_drop.append('ikWh_consumption1')

In [158]:
jde_data

,ID_ZLECENIA_PALONA,DTZAPIS,ILOSC_PALONA,NUMERZASYPU,IDZLECENIE,NUMERPIECA,Anulowany,Zagubiona,SUMA_ZIELONEJ,QuantityError,...,ikWh_consumption,im3_consumption,ikWh_counter1_start,ikWh_counter1_finish,ikWh_multiplier1,ikWh_unit_name1,ikWh_consumption1,ikWh_total_consumption,lTriggerCounter,Dlugosc procesu prazenia
0,1206810,2024-01-10 09:06:00.880,0.0,8,138624,4000,0,NaN,0.0,1,...,NaN,NaN,0.0,0.0,NaN,NaN,0.00,0.00,NaN,NaT
1,1206809,2024-01-10 08:59:02.527,0.0,9,138623,3000,0,NaN,0.0,1,...,NaN,NaN,0.0,0.0,NaN,NaN,0.00,0.00,NaN,NaT
2,1206808,2024-01-10 08:57:40.677,0.0,7,138624,4000,0,NaN,0.0,1,...,NaN,NaN,0.0,0.0,NaN,NaN,0.00,0.00,NaN,NaT
3,1206807,2024-01-10 08:49:11.593,0.0,6,138624,4000,0,NaN,600.1,1,...,4.0,474.0,10921971.0,10922040.0,"0,01",kWh,0.69,4.69,NaN,0 days 00:02:15.580000
4,1206806,2024-01-10 08:48:14.330,0.0,8,138623,3000,0,NaN,400.3,1,...,23.0,8.0,NaN,0.0,NaN,NaN,0.00,23.00,NaN,0 days 00:09:12.663000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,1196814,2023-11-20 03:12:48.087,251.0,12,137655,3000,0,NaN,300.0,0,...,13.0,9.0,NaN,0.0,NaN,NaN,0.00,13.00,765.0,0 days 00:05:52.870000
9996,1196813,2023-11-20 03:09:00.397,505.1,7,137656,4000,0,NaN,600.1,0,...,11.0,1301.0,9740934.0,9741095.0,"0,01",kWh,1.61,12.61,7144.0,0 days 00:08:16.200000
9997,1196812,2023-11-20 03:04:52.260,251.9,11,137655,3000,0,NaN,291.1,0,...,12.0,9.0,NaN,0.0,NaN,NaN,0.00,12.00,763.0,0 days 00:05:40.360000
9998,1196811,2023-11-20 03:00:06.253,505.9,6,137656,4000,0,NaN,600.0,0,...,11.0,1307.0,9740751.0,9740900.0,"0,01",kWh,1.49,12.49,7143.0,0 days 00:07:48.523000
9999,1196810,2023-11-20 02:51:39.743,508.1,5,137656,4000,0,NaN,600.2,0,...,12.0,1292.0,9740431.0,9740653.0,"0,01",kWh,2.22,14.22,7142.0,0 days 00:08:31.937000

In [159]:
jde_data.drop(columns_to_drop, axis=1, inplace=True)

C:\Users\modeb\AppData\Local\Temp\ipykernel_12736\278801080.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  jde_data.drop(columns_to_drop, axis=1, inplace=True)

In [161]:
jde_data[jde_data['ikWh_total_consumption'] == 0]

,ID_ZLECENIA_PALONA,DTZAPIS,ILOSC_PALONA,NUMERZASYPU,IDZLECENIE,NUMERPIECA,SUMA_ZIELONEJ,PREV_ILOSC_PALONA,ZbiornikKawyPalonej,im3_consumption,ikWh_total_consumption,Dlugosc procesu prazenia
0,1206810,2024-01-10 09:06:00.880,0.0,8,138624,4000,0.0,0.0,639,NaN,0.0,NaT
1,1206809,2024-01-10 08:59:02.527,0.0,9,138623,3000,0.0,0.0,654,NaN,0.0,NaT
2,1206808,2024-01-10 08:57:40.677,0.0,7,138624,4000,0.0,0.0,639,NaN,0.0,NaT
469,1206341,2024-01-08 08:19:50.917,0.0,5,138574,3000,0.0,0.0,614,NaN,0.0,NaT
2161,1204648,2023-12-27 07:15:29.790,345.0,4,138408,3000,400.3,345.0,613,NaN,0.0,NaT
2296,1204513,2023-12-22 12:02:09.280,343.0,3,138395,3000,400.3,343.0,650,NaN,0.0,NaT
3902,1202907,2023-12-15 20:27:59.223,345.0,23,138229,3000,401.4,345.0,616,NaN,0.0,NaT

In [160]:
jde_data

,ID_ZLECENIA_PALONA,DTZAPIS,ILOSC_PALONA,NUMERZASYPU,IDZLECENIE,NUMERPIECA,SUMA_ZIELONEJ,PREV_ILOSC_PALONA,ZbiornikKawyPalonej,im3_consumption,ikWh_total_consumption,Dlugosc procesu prazenia
0,1206810,2024-01-10 09:06:00.880,0.0,8,138624,4000,0.0,0.0,639,NaN,0.00,NaT
1,1206809,2024-01-10 08:59:02.527,0.0,9,138623,3000,0.0,0.0,654,NaN,0.00,NaT
2,1206808,2024-01-10 08:57:40.677,0.0,7,138624,4000,0.0,0.0,639,NaN,0.00,NaT
3,1206807,2024-01-10 08:49:11.593,0.0,6,138624,4000,600.1,0.0,639,474.0,4.69,0 days 00:02:15.580000
4,1206806,2024-01-10 08:48:14.330,0.0,8,138623,3000,400.3,0.0,654,8.0,23.00,0 days 00:09:12.663000
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,1196814,2023-11-20 03:12:48.087,251.0,12,137655,3000,300.0,251.0,625,9.0,13.00,0 days 00:05:52.870000
9996,1196813,2023-11-20 03:09:00.397,505.1,7,137656,4000,600.1,505.1,652,1301.0,12.61,0 days 00:08:16.200000
9997,1196812,2023-11-20 03:04:52.260,251.9,11,137655,3000,291.1,251.9,625,9.0,12.00,0 days 00:05:40.360000
9998,1196811,2023-11-20 03:00:06.253,505.9,6,137656,4000,600.0,505.9,652,1307.0,12.49,0 days 00:07:48.523000
9999,1196810,2023-11-20 02:51:39.743,508.1,5,137656,4000,600.2,508.1,649,1292.0,14.22,0 days 00:08:31.937000

In [162]:
jde_data.rename(
    columns={'ID_ZLECENIA_PALONA': 'ID', 'DTZAPIS': 'Data zapisu', 'ILOSC_PALONA': 'Ilosc uprazonej kawy bez strat [kg]',
             'NUMERZASYPU': 'Numer zasypu', 'IDZLECENIE': 'ID zlecenia', 'NUMERPIECA': 'Numer Pieca',
             'SUMA_ZIELONEJ': 'Suma kawy wsypanej na poczatku prazenia [kg]',
             'ZbiornikKawyPalonej': 'Zbiornik kawy palonej', 'im3_consumption' : 'Zuzycie gazu [m3]', 'ikWh_total_consumption' : 'Zuzycie pradu [kWh]' }, inplace=True)

C:\Users\modeb\AppData\Local\Temp\ipykernel_12736\2906275935.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  jde_data.rename(

In [164]:
jde_data

,ID,Data zapisu,Ilosc uprazonej kawy bez strat [kg],Numer zasypu,ID zlecenia,Numer Pieca,Suma kawy wsypanej na poczatku prazenia [kg],PREV_ILOSC_PALONA,Zbiornik kawy palonej,Zuzycie gazu [m3],Zuzycie pradu [kWh],Dlugosc procesu prazenia
0,1206810,2024-01-10 09:06:00.880,0.0,8,138624,4000,0.0,0.0,639,NaN,0.00,NaT
1,1206809,2024-01-10 08:59:02.527,0.0,9,138623,3000,0.0,0.0,654,NaN,0.00,NaT
2,1206808,2024-01-10 08:57:40.677,0.0,7,138624,4000,0.0,0.0,639,NaN,0.00,NaT
3,1206807,2024-01-10 08:49:11.593,0.0,6,138624,4000,600.1,0.0,639,474.0,4.69,0 days 00:02:15.580000
4,1206806,2024-01-10 08:48:14.330,0.0,8,138623,3000,400.3,0.0,654,8.0,23.00,0 days 00:09:12.663000
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,1196814,2023-11-20 03:12:48.087,251.0,12,137655,3000,300.0,251.0,625,9.0,13.00,0 days 00:05:52.870000
9996,1196813,2023-11-20 03:09:00.397,505.1,7,137656,4000,600.1,505.1,652,1301.0,12.61,0 days 00:08:16.200000
9997,1196812,2023-11-20 03:04:52.260,251.9,11,137655,3000,291.1,251.9,625,9.0,12.00,0 days 00:05:40.360000
9998,1196811,2023-11-20 03:00:06.253,505.9,6,137656,4000,600.0,505.9,652,1307.0,12.49,0 days 00:07:48.523000
9999,1196810,2023-11-20 02:51:39.743,508.1,5,137656,4000,600.2,508.1,649,1292.0,14.22,0 days 00:08:31.937000

In [168]:
jde_data.to_csv('jde_data_cleaned.csv', index=False, sep=';', date_format='%Y-%m-%d %H:%M:%S')